{% extends "layouts/main.html" %}

{% block title %}Nova Cidade{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Cadastro de Cidade</h2>
    </div>
</div>
<form id="form">
    <input type="hidden" id="id" name="id">
    <input type="hidden" id="action" name="action">
    <div class="row">
        <div class="col-12">
            <div class="form-floating mb-3">
                <select class="form-select" id="id_uf" name="id_uf" required>
                    <option value="">Selecione uma unidade federativa...</option>
                </select>
                <label for="id_uf">Unidade Federativa</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nome" name="nome" placeholder="example" autofocus>
                <label for="nome">Nome da Cidade</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="codigo" name="codigo" placeholder="example">
                <label for="codigo">Código</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-outline-success" id="insert">
                <i class="fa-solid fa-floppy-disk"></i>
                Salvar
            </button>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script src="file:///{{ assets }}/js/city.js"></script>
{% endblock %}
