{% extends "layouts/main.html" %}

{% block title %}Novo Contato{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Cadastro de Contato</h2>
    </div>
</div>
<form id="form">
    <input type="hidden" id="id" name="id">
    <input type="hidden" id="action" name="action">
    <div class="row">
        <div class="col-12">
            <div class="form-floating mb-3">
                <select class="form-select" id="customer_id" name="customer_id" required>
                    <option value="">Selecione um cliente...</option>
                </select>
                <label for="customer_id">Cliente</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nome" name="nome" placeholder="example" autofocus>
                <label for="nome">Nome do Contato</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="example">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cargo" name="cargo" placeholder="example">
                <label for="cargo">Cargo</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="example">
                <label for="telefone">Telefone</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="celular" name="celular" placeholder="example">
                <label for="celular">Celular</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-outline-success" id="insert">
                <i class="fa-solid fa-floppy-disk"></i>
                Salvar
            </button>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script src="file:///{{ assets }}/js/contact.js"></script>
{% endblock %}
