{% extends "layouts/main.html" %}

{% block title %}Nova Empresa{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Cadastro de Empresa</h2>
    </div>
</div>
<form id="form">
    <input type="hidden" id="id" name="id">
    <input type="hidden" id="action" name="action">
    <div class="row">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="razao_social" name="razao_social" placeholder="example" autofocus>
                <label for="razao_social">Razão Social</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nome_fantasia" name="nome_fantasia" placeholder="example">
                <label for="nome_fantasia">Nome Fantasia</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="example">
                <label for="cnpj">CNPJ</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="example">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="example">
                <label for="telefone">Telefone</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-outline-success" id="insert">
                <i class="fa-solid fa-floppy-disk"></i>
                Salvar
            </button>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script src="file:///{{ assets }}/js/enterprise.js"></script>
{% endblock %}
